body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fuente2 {
    background-image: linear-gradient( 84.4deg, rgba(17,0,220,1) -5.1%, rgba(214,32,0,1) 41.6%, rgba(237,152,0,1) 69%, rgba(255,171,6,1) 81.9%, rgba(253,251,0,1) 99.7% );
}
.colorcabecera {
background-color:black;
color:white
}

